body{
    background-color: rgb(246, 215, 215);
}

h1{
    color: black;
}

h2{
    margin-bottom: 15px;
}

h3{
    font-size: 20px;
    margin-left: 30px;
}

h4{
    text-align: center;
    color: rgb(109, 130, 133);
    font-weight: bold;
    font-size: 30px;
}

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

button{
    border: 5px solid;
    border-radius: 5px;
    display: block;
    font-size: 24px;
    margin: 0 auto;
    padding: 10px 15px;
    /*transition: all 150ms ease-in-out;*/
}

footer{
    background-color: rgb(9, 171, 235);
}

section{
    background-color:rgb(225, 243, 250); 
}



.box{
    box-sizing: border-box;
    padding: 150px;
    position: relative;
    width: calc(50% - 10px);
    /*border: 1px solid #000;*/
    /*margin-right: 10px;*/
}

.box:last-child{
    /*margin-right: 0;*/
}

.box1{
    background-color: rgb(225, 243, 250);
}

.box2{
    background-color: rgb(220, 183, 183);
}

.burger{
    display: none;
    font-size: 30px;
}

.container{
    
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}



.dotted-lines{
    position: absolute;
    top: 100%;
    left:100%;
    transform: translate(-5px, 5px);
    width: 10px;
    height: 10px;

}

.dotted-right{
    border-right: 5px dotted rgb(193, 141, 141);
    height: 100px;
}  

.dotted-bottom {
    border-bottom: 5px dotted rgb(240, 182, 182); /* Create bottom dotted line */
    width: 100px; /* Adjust width for visual effect */
    position: absolute;
    top: 100%; /* Align below the image */
    left: 0; /* Keep aligned to the left */
}




.grid{
    background-color: rgb(225, 243, 250);
    display: grid;
    margin: 15px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.grid:img{
    width: 100%;
    border-radius: 8px;
}

.menu ul{
    display:flex;
    list-style: none;
}

.menu ul li{
   color: white;
   margin-left: 20px;
   text-decoration: none;
}

.logo{
    color: white;
    font-size: 24px;
}

.navbar{
    align-items: center;
    background-color: #b4acac;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 10px 20px;
}

.profile-img {
    position: absolute;
    top: -50px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 300px; /* Set desired width of the image */
    height: auto; /* Maintain aspect ratio */
}


.project{
    box-shadow: none;
    max-width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.rightbox{
    margin-left: 18px ;
}

.theme-button{
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px 10px;

}

.theme-button:hover{
    color: black;
    background-color: rgb(220, 183, 183);
}

@media (max-width: 768px){
    
    .burger {
        display: block;
    }
    .menu ul{
        background-color: #333;
        border-radius: 5px;
        display: none;
        flex-direction: column;
        padding: 1opx 0;
        position: absolute;
        right: 20px;
        top: 60px;   
    }

    .menu.active ul {
        display: flex;
    }

}





 

